#header_logo{
    width: 50px;
    height: auto;
    margin-left: 20%;
}
#header_header{
    background-color: rgba(0, 0, 0, 0.322);
}
#header_navbar{
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
}
#header_sms_img{
    width: 20%;
    height: 20%;
}
.header_menu_items{
    width: 20%;
}
#header_sms_txt{
    color: #00FF00;
}

